/* Forms are much easier to style using the border-box box model */
#pardot-form *,
#pardot-form *:before,
#pardot-form *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Remove margin and padding from the default stylesheet */
/* Set max-width to prevent form from getting larger than the page-header */
#pardot-form {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  max-width: 1850px;
}

#pardot-form .form-field {
  margin: 0 0 20px 0;
  padding: 0;
}

#pardot-form .field-label {
  width: 115px;
}

#pardot-form label.inline {
  padding-left: 0;
}

#pardot-form input.text,
#pardot-form input.date,
#pardot-form textarea {
  padding: 6px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 2px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 200;
  color: inherit;
  line-height: 1.5;
  background-color: #fff;
}

#pardot-form.label-left input.text,
#pardot-form.label-left input.date,
#pardot-form.label-left textarea {
  width: calc(100% - 115px);
}

#pardot-form input.date {
  padding-left: 30px;
  background-position: 6px 50%;
}

#pardot-form textarea {
  height: 3em;
}

#pardot-form select {
  width: 100%;
  padding: 0;
  border-radius: 4px;
  background-color: #fff;
}

#pardot-form.label-left select {
  width: calc(100% - 115px);
}

#pardot-form select.select {
  height: 44px;
}

#pardot-form input.text:focus,
#pardot-form input.date:focus,
#pardot-form textarea:focus,
#pardot-form select:focus {
  border: 1px solid #6fbe44;
  outline: none;
}

#pardot-form.label-left span.value,
#pardot-form.label-left .description,
#pardot-form.label-left .no-label {
  margin-left: 115px;
}

#pardot-form.label-left .no-label span.value,
#pardot-form.label-left .no-label .description {
  margin-left: 0;
}

#pardot-form .submit {
  margin: 0;
}

#pardot-form .submit input {
  margin: 0;
  padding: 7px 22px;
  border: none;
  width: 100%;
  border-radius: 0;
  background-color: #6fbe44;
  font-size: 16px;
  font-family: inherit;
  font-weight: 200;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

#pardot-form .error {
  color: inherit;
}

#pardot-form .error label,
#pardot-form .error .error.no-label {
  color: #8b0000;
}

#pardot-form .error input.text,
#pardot-form .error input.date,
#pardot-form .error textarea,
#pardot-form .error select {
  border-color: #cf4d25;
}

#pardot-form .error,
#pardot-form .description,
#pardot-form .no-label {
  padding-left: 0;
}

#pardot-form .error {
  font-weight: normal;
}

#pardot-form .error input.text:focus,
#pardot-form .error input.date:focus,
#pardot-form .error textarea:focus {
  border: 1px solid #6fbe44;
}

@font-face {
  font-family: DINWeb;
  src: url("../Fonts/DINWeb.eot");
}

@font-face {
  font-family: DINWeb;
  src: url("../Fonts/DINWeb.woff") format("woff");
}

@font-face {
  font-family: DINWeb;
  font-weight: bold;
  src: url("../Fonts/DINWeb-Bold.eot");
}

@font-face {
  font-family: DINWeb;
  font-weight: bold;
  src: url("../Fonts/DINWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: DINWeb;
  font-weight: 100;
  src: url("../Fonts/DINWeb-Light.eot");
}

@font-face {
  font-family: DINWeb;
  font-weight: 100;
  src: url("../Fonts/DINWeb-Light.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: DINWeb, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  overflow: hidden;
  float: left;  
  position: relative;
  min-height: 1px;
  height: auto;
  background: transparent;
  width: 100%;
}

body::after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 980px) {
  body {
    float: left;
    width: 66.66666667%;
    left: 16.66666667%;
  }
}

@media (min-width: 1280px) {
  body {
    float: left;
    width: 50%;
    left: 25%;
  }
  
  body.form-with-thumbnail {
	max-width: 1000px;
    margin: 0 auto;
    float: none;
    left: 0;
  }
}

form#pardot-form.form-with-thumbnail h2,
form#pardot-form div#form-content-before h2,
form#pardot-form div#form-thank-you-content h2 {
  margin: 0 0 24px 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

form#pardot-form div#form-content-before p {
  margin: 0 0 12px 0;
  padding: 0;
}

form#pardot-form div#form-content-before p:last-child {
  margin: 22px 0 12px 0;
}

@media (max-width: 767px) {
  form#pardot-form.form-with-thumbnail div#form-content-before p {
    text-align: center;
  }
}

form#pardot-form div.form-field {
  position: relative;
  margin-bottom: 15px;
}

form#pardot-form {
  font-family: DINWeb, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: #fff;
}

form#pardot-form label {
  font-family: DINWeb, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: #fff;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 40px;
  padding: 12px 0 0 10px;
  margin: 0;
  text-transform: none;
  max-width: 100%;
}

form#pardot-form label span.required {
  color: #fff;
  padding-left: 3px;
}

form#pardot-form .error label {
  color: #fff;
}

form#pardot-form input[type=text] {
  height: 40px;
  padding: 10px 10px 10px 115px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 0.9em;
  border-radius: 0;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

form#pardot-form input[type=text]:-webkit-autofill,
form#pardot-form input[type=text]:-webkit-autofill:hover,
form#pardot-form input[type=text]:-webkit-autofill:focus,
form#pardot-form input[type=text]:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
  -webkit-text-fill-color: #fff !important;
}

form#pardot-form input[type=text]:required:invalid {
  outline: none;
}

form#pardot-form input[type=text]:focus {
  border-color: #97bf0d;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form#pardot-form .error input[type=text] {
  border-color: #97bf0d;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

form#pardot-form div.select-element-container {
  width: 100%;
  position: relative;
}

form#pardot-form div.select-element-container div.select-placeholder {
  height: 40px;
  width: 100%;
  padding: 9px 0 0 115px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
}

form#pardot-form div.select-element-container div.select-placeholder.focus {
  border-color: #97bf0d;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

form#pardot-form div.select-element-container div.select-placeholder::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAJCAMAAADnw+cDAAAAFVBMVEUAAAD///////////////////////9Iz20EAAAABnRSTlMAL36EkunaSmnzAAAAKElEQVR42l3Itw0AIAADsFD/Pxk2S/HonNt2RudMpKpcP6SSSiqppHr/vgI2dLCU6gAAAABJRU5ErkJggg==);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  content: '';
}

form#pardot-form div.select-element-container div.select-placeholder.focus::after {
  border-color: #97bf0d;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAJCAMAAADnw+cDAAAAGFBMVEUAAACWvgyWvgyWvgyWvgyWvgyWvgz///8MIBqEAAAABnRSTlMAL36EkunaSmnzAAAAKElEQVR42l3Itw0AIAADsFD/Pxk2S/HonNt2RudMpKpcP6SSSiqppHr/vgI2dLCU6gAAAABJRU5ErkJggg==);
}

form#pardot-form div.select-element-container div.input select {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}

form#pardot-form div.submit::after {
  content: '';
  display: table;
  clear: both;
}

form#pardot-form div.submit div.submit-inner {
  width: calc(50% - 15px);
  float: right;
}

@media (max-width: 767px) {
  form#pardot-form div.submit div.submit-inner {
    width: 100%;
  }
}

form#pardot-form.form-with-thumbnail div.submit div.submit-inner {
	width: 100%;
}

form#pardot-form div.submit input[type=submit] {
  margin: 0;
  color: #002d52 !important;
  background-color: #fff !important;
  font-size: 1.2em;
  padding: 6px 40px !important;
  border: none;
  border-radius: 0;
  text-transform: none !important;
  font-weight: normal !important;
  font-family: DINWeb, Helvetica, Arial, sans-serif !important;
  letter-spacing: normal;
  line-height: 1.5em !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

form#pardot-form div.submit input[type=submit]:hover {
  color: #002d52 !important;
  background-color: #e5ecf0 !important;
}

form#pardot-form span.description {
  display: block;
  padding-top: 6px;
}

form#pardot-form div#form-content-after {
  margin-top: 10px;
}

form#pardot-form div#form-content-after a,
form#pardot-form div#form-thank-you-content a {
  color: #97bf0d;
}

form#pardot-form p.errors {
  display: none;
}

form#pardot-form div.error-container {
  text-align: center;
  position: relative;
  z-index: 1;
}

form#pardot-form div.error-container div.error-container-inner {
  display: inline-block;
  position: absolute;
  left: calc(50% - 91px);
}

form#pardot-form div.error-container div.error-container-inner span.triangle {
  display: block;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #97bf0d transparent;
  margin: 0 auto -1px auto;
}

form#pardot-form div.error-container div.error-container-inner p.error-text {
  padding: 10px;
  background: #fff;
  color: #303030;
  margin: 0;
  border: 1px solid #97bf0d;
}

form#pardot-form div#form-thank-you-content a.btn {
  font-size: 1.2em;
  padding: 6px 40px;
  -webkit-transition: background-color 0.5s ease, border-top-color 0.5s ease, border-right-color 0.5s ease, border-bottom-color 0.5s ease, border-left-color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-top-color 0.5s ease, border-right-color 0.5s ease, border-bottom-color 0.5s ease, border-left-color 0.5s ease;
  transition: background-color 0.5s ease, border-top-color 0.5s ease, border-right-color 0.5s ease, border-bottom-color 0.5s ease, border-left-color 0.5s ease;
  border-radius: 0;
  line-height: 1.5;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #002d52;
  border-color: #002d52;
}

@media (max-width: 479px) {
  form#pardot-form div#form-thank-you-content a.btn {
    font-size: 0.9em;
    padding: 11px 40px;
  }
}

form#pardot-form div#form-thank-you-content a.btn-white {
  color: #002d52;
  background-color: #fff;
  border-color: #fff;
}

form#pardot-form div#form-thank-you-content a.btn-white:hover,
form#pardot-form div#form-thank-you-content a.btn-white:focus {
  background-color: #e5ecf0;
  border-color: #e5ecf0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form#pardot-form.form-with-thumbnail img {
	max-width: 375px;
	height: auto !important;
	width: 100% !important;
}

form#pardot-form.form-with-textarea textarea {
	height: 300px;
	background: none;
	padding: 34px 10px 10px 10px;
	color: #fff;
	font-size: 1.2em;
	border: 1px solid #fff;
}

form#pardot-form.form-with-textarea textarea:focus {
	outline: none !important;
	border: 1px solid #97bf0d;
}

form#pardot-form div#form-content .description,
form#pardot-form div#form-content-before .description {
	margin-bottom: 10px;
}

form#pardot-form div#form-content .description a,
form#pardot-form div#form-content-before .description a {
	color: #97bf0d;
}

@media(max-width: 593px) {
  img {
    display: none;
  }
}

img {
  max-width: 250px;
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
  img {
    display: inline ;
  }
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape) and (max-width: 593px) {
  img {
    display: none;
  }
}

